[Unit]
Description=MQTT to Kafka bridge
After=mosquitto.service kafka-container.service
Requires=mosquitto.service kafka-container.service

[Service]
ExecStart=/opt/fiveg-sport-backend/bin/python /opt/fiveg-sport-backend/mqtt_kafka_bridge.py
WorkingDirectory=/opt/fiveg-sport-backend
Type=simple
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
